@model webapi4.Models.SnVehiculo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>SnVehiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodCia" class="control-label"></label>
                <select asp-for="CodCia" class ="form-control" asp-items="ViewBag.CodCia"></select>
            </div>
            <div class="form-group">
                <label asp-for="CodObra" class="control-label"></label>
                <select asp-for="CodObra" class ="form-control" asp-items="ViewBag.CodObra"></select>
            </div>
            <div class="form-group">
                <label asp-for="CodVehiculo" class="control-label"></label>
                <input asp-for="CodVehiculo" class="form-control" />
                <span asp-validation-for="CodVehiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Placa" class="control-label"></label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prefijo" class="control-label"></label>
                <input asp-for="Prefijo" class="form-control" />
                <span asp-validation-for="Prefijo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodMarca" class="control-label"></label>
                <select asp-for="CodMarca" class ="form-control" asp-items="ViewBag.CodMarca"></select>
            </div>
            <div class="form-group">
                <label asp-for="CodModelo" class="control-label"></label>
                <select asp-for="CodModelo" class ="form-control" asp-items="ViewBag.CodModelo"></select>
            </div>
            <div class="form-group">
                <label asp-for="CodTipo" class="control-label"></label>
                <select asp-for="CodTipo" class ="form-control" asp-items="ViewBag.CodTipo"></select>
            </div>
            <div class="form-group">
                <label asp-for="CodConfiguracion" class="control-label"></label>
                <select asp-for="CodConfiguracion" class ="form-control" asp-items="ViewBag.CodConfiguracion"></select>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Variable" class="control-label"></label>
                <input asp-for="Variable" class="form-control" />
                <span asp-validation-for="Variable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndVehiAlma" class="control-label"></label>
                <input asp-for="IndVehiAlma" class="form-control" />
                <span asp-validation-for="IndVehiAlma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroSerie" class="control-label"></label>
                <input asp-for="NroSerie" class="form-control" />
                <span asp-validation-for="NroSerie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notas" class="control-label"></label>
                <input asp-for="Notas" class="form-control" />
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clase" class="control-label"></label>
                <input asp-for="Clase" class="form-control" />
                <span asp-validation-for="Clase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Situacion" class="control-label"></label>
                <input asp-for="Situacion" class="form-control" />
                <span asp-validation-for="Situacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Linea" class="control-label"></label>
                <input asp-for="Linea" class="form-control" />
                <span asp-validation-for="Linea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Propiedad" class="control-label"></label>
                <input asp-for="Propiedad" class="form-control" />
                <span asp-validation-for="Propiedad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idcarga" class="control-label"></label>
                <input asp-for="Idcarga" class="form-control" />
                <span asp-validation-for="Idcarga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Linecarga" class="control-label"></label>
                <input asp-for="Linecarga" class="form-control" />
                <span asp-validation-for="Linecarga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
